@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header{
    background-color: #1f2937;
    padding: 20px 115px 120px 205px;
}

.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 115px;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

nav{
    font-size: 18px;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-right: 25px;
}

.signup{
    margin-right: 0;
}

nav ul li a{
    text-decoration: none;
    color: #e5e7eb;
}

nav ul li a:hover{
    color:#fff;
}

.header-content{
    display: flex;
    justify-content: space-between;
}

.abt-title{
    width: 500px;
    margin-right: 60px;
}

.abt-title h1{
    color: #f9faf8;
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
}

.abt-title p{
    color: #e5e5e5;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
}

.abt-title button{
    background-color: #3882f6;
    padding: 10px 30px;
    border: none;
    border-radius: 4px;margin-top: 15px;
    font-size: 17px;
    font-weight: 900;
}

.abt-title button a{
    text-decoration: none;
    color: #fff;
}

.abt-title button:hover{
    background-color: #2e68c5;
}


.image img{
    width: 525px;
    height: 250px;
    border-radius: 7px;
}

/* our team  */

.team-section{
    margin-top: 50px;
}

.team-header{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}


.team-member{
    display: flex;
    justify-content: center;
    padding:  50px 0 110px 0;
}

.team{
    width: 180px;
    margin-right: 50px;
}

.team p{
    padding: 3px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #616161;
    line-height: 1.5;
}

.team img{
    width: 180px;
    height: 170px;
    border: 4px solid #417bda;
    border-radius: 10px;
}


/* quote */

.quote{
    background-color: #e5e7eb;
    margin-bottom: 100px;
}

.quote p{
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight:550;
    color: #1f2937;
    width: 800px;
    margin: 0 auto;
    padding: 120px 0;
}

span{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-left: 70%;
}


/* call to action */

.container{
    background-color: #3882f6;
    width: 950px;
    padding: 50px 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 100px;
}

.container p{
    color: #e5e5e5;
}


.button button{
    background-color: #3882f6;
    border: 2px solid #fff;
    border-radius: 7px;
    padding: 5px 30px;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.button button:hover{
    background-color: #e5e5e5;
    color: #3882f6;
}

/* footer */


footer p{
    background-color: #1f2937;
    color: #fff;
    text-align: center;
    padding: 40px 0;
    font-family: 'Open Sans', sans-serif;
}